<p style="color: green"><%= notice %></p>

<%= render @anki_deck %>

<div>
  <%= link_to "Edit this anki deck", edit_anki_deck_path(@anki_deck) %> |
  <%= link_to "Back to anki decks", anki_decks_path %>

  <%= button_to "Destroy this anki deck", @anki_deck, method: :delete %>
</div>
