<p style="color: green"><%= notice %></p>

<header class="weights-header">
  <h1><%= @user.name %></h1>
  <%= link_to("Weigh In", "/weights/new", { class: "btn btn-primary weigh-in" }) %>
</header>

<section id="app" data-model-action="weights-index">
  <% # React component: <WeightChart /> mount point %>
</section>

<table class="table container">
  <thead>
    <tr class="row">
      <th class="col">Date</th>
      <th class="col">Measurement</th>
      <th class="col-8">Notes</th>
      <th class="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @weights.each do |weight| %>
    <tr class="row">
      <td class="col"><%= weight.created_at.strftime("%m/%d/%Y") %></td>
      <td class="col"><%= weight.measurement.truncate(1) %></td>
      <td class="col-8"><%= weight.notes %></td>
      <td class="col">
        <%= link_to("Edit", edit_weight_path(weight)) %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<script id="component-data" type="application/json">
  <%= @weight_chart_data.html_safe %>
</script>
<script id="routes" type="application/json">
  <%= { index: weights_url }.to_json.html_safe %>
</script>
