<% @tables.each do |table| %>
  <h1><%= table.section_header %></h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <% table.class::TABLE_HEADERS.each do |header| %>
          <th><%= header %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% table.rows.each do |row| %>
        <tr>
          <td><%= row.datetime %></td>
          <td><%= row.value.html_safe %></td>
          <td><%= row.notes %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
