<p style="color: green"><%= notice %></p>

<%= render @data_point %>

<div>
  <%= link_to "Edit this data point", edit_data_point_path(@data_point) %> |
  <%= link_to "Back to data points", data_points_path %>

  <%= button_to "Destroy this data point", @data_point, method: :delete %>
</div>
